<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pt.park_at_home.parkathome">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activities.MainLogin">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".activities.MainLogin">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pt.park_at_home.parkathome.activities.MainLogin"/>
        </activity>
        <activity
                android:name=".activities.Parking"
                android:label="@string/title_activity_parking"
                android:parentActivityName=".activities.MainLogin"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pt.park_at_home.parkathome.activities.MainLogin"/>
        </activity>
        <activity
                android:name=".activities.loading_screen"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>